body{
    background-color: rgb(224, 215, 215);
}

.head-border{
    width: 98vw;
    height: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, black 80%, rgba(0, 0, 0, 0));
    margin-bottom: 30px;
} 
.mb-10 {
    margin-bottom: 10px !important; 
    /* sets margin on search button in modal */
}

/* differnt line heights to show diff size box*/
.row > .artist-info{
    padding: 10px;
    background-color: #ddd;
    /*border: 1px solid #fff;*/
    line-height: 42px;
}

.row > .song-info {
    padding: 10px;
    background-color: #ddd;
    /*border: 1px solid #fff;*/
    line-height: 45px;
}
.row > footer {
    padding: 10px;
    background-color: #ddd;
    /*border: 1px solid #fff;*/
    line-height: 60px;
    text-align: center;
}

.row > .quick-search{
    padding: 10px;
    background-color: #ddd;
    /*border: 1px solid #fff;*/
    line-height: 172px;
    margin-top: 20px;
}

.quick-search{
    
    margin-top: 20px;
}



.row> .gif-container{
    padding: 10px;
    background-color: #ddd;
    /*border: 1px solid #fff;*/
    line-height: 322px;
    margin-top: 13px;
  
}
/*Styling added to the gif container to position gif to fill the box*/
.gif-container{
    position: relative;
    height: 300px;
}

.gif-image{
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* recent changes made*/
.artist-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 423px; /*Adjusted the height to be the same as gif container!!*/
  
   
}

.artist-name-1, 
.album-title{
    margin-bottom: 10px;
}
.album-pic{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}









